body {
    font-family: "montserrat";
}

@font-face {
    font-family: "montserrat";
    src: url(../TIPO/Montserrat-VariableFont_wght.ttf);
}

#imgprint img {
    width: 100%;
}

#variasimg {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 80px;
}

#variasimg img {
    width: 30%;
    border: 4px solid #b8d79e;
}

h1 {
    color: #1c5427;
    margin: 60px;
}

p {
    margin-left: 60px;
    margin-right: 60px;
}

@media (max-width: 576px) {
    #variasimg {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin: 40px;
    }

    #variasimg img {
        width: 25%;
        border: 4px solid #b8d79e;
    }
}