body {
    font-family: "montserrat";
}

@font-face {
    font-family: "montserrat";
    src: url(../TIPO/Montserrat-VariableFont_wght.ttf);
}

#inicio img {
    width: 90%;
    margin-left: 60px;
}

#inicio h1 {
    color: #1c5427;
    font-size: 5rem;
    margin-left: 60px;
    margin-top: 40px;
    text-align: center;
}

#imgparapente {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

#imgparapente img {
    margin-left: 60px;
    width: 40%;
    margin-top: 40px;
}

#textparapente {
    margin-left: 60px;
    margin-right: 60px;
}

#textparapente h3 {
    color: #1c5427;
    font-size: 1.6rem;
    margin-top: 40px;
}

@media (max-width: 576px) {
    #imgparapente img {
        margin-left: 40px;
        width: 35%;
        margin-top: 40px;
    }

    #inicio img {
        width: 88%;
        margin-left: 40px;
    }

    #inicio h1 {
    color: #1c5427;
    font-size: 4rem;
    margin-top: 40px;
    text-align: center;
}
}