body {
    margin: 0px;
    font-family: "montserrat";
}

@font-face {
    font-family: "montserrat";
    src: url(../TIPO/Montserrat-VariableFont_wght.ttf);
}

header {
    background-color: #1b5428;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

#logo {
    width: 200px;
    height: 100px;
}

/* TAMAÑO DEL BOTÓN DE HAMBURGUESA */
#btnMenu {
    background-color: #1b5428;
    border: #b8d79e;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    cursor: pointer;
}

#btnMenu:hover {
    transform: scale(1.25);
    transition: all 0.5s ease-out;
}

/* SE AJUSTA EL SPAN DE LAS 3 RAYAS PARA CENTRARLO MEJOR*/
#btnMenu span {
    color: white;
    font-size: 1.6rem;
    position: relative;
    top: -10px;
    right: -50px;
}

#btnMenu span:hover{
    color: #b8d79e;
}

#menu {
    min-height: 3rem;
}

/* EN DISEÑO MÓVIL NO SE MUESTRA EL MENÚ PARA ESCRITORIO */
.menuDesktop {
    display: none;
    font-size: 12pt;
}

/* CAMBIO EL DISEÑO A TABLET Y ESCRITORIO */
@media (min-width: 576px) {
    /* En escritorio se muestra el menú completo */
    .menuDesktop {
        display: flex;
        gap: 15px;
    }
    /* En escritorio se oculta el botón de hamburguesa */
    #btnMenu {
        display: none;
    }

    #logo {
    width: 200px;
    height: 100px;
    margin-left: -10px;
    margin-top: -40px;
    }
}

.menuDesktop a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-out;
    margin-top: 30px;
}

.menuDesktop a:hover {
    color: #b8d79e;
}

@keyframes abreCaja {
    from {
        transform: scaleY(0%);
    }
    to {
        transform: scaleY(100%);
    }
}

/* AL DESPLEGAR EL MENU EN EL MÓVIL */
/* Al pulsar el botón de hamburguesa se añade/quita esta clase */
/* Al tener esta clase, se muestra el menú en una caja desplegada */
.menuDesplegado {
    background-color: #1b5428;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    
    position: absolute;
    left: 0;
    right: 0;
    /* ESTO NECESITA AJUSTE (top): LA POSICIÓN DE LA VENTANA DESPLEGADA */
    top: 56px;

    padding: 1.5rem;
    padding-top: 1rem;
    font-size: 1.3rem;
    
    animation-name: abreCaja;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    transform-origin: top;
}

span {
    transition: all 0.3s ease-in-out;
    margin: 2px;
}

#idioma {
    display: flex;
    margin: 20px;
    color: white;
    margin-top: 29px;
}

#iconoIng:hover {
    color: #b8d79e;
    transform: scale(1.3);
}

#iconoEsp:hover {
    color: #b8d79e;
    transform: scale(1.3);
}

.oculta {
    display: none;
}

