   body{
        font-family: "montserrat";
   }

   @font-face {
        font-family: "montserrat";
        src: url(../TIPO/Montserrat-VariableFont_wght.ttf);
    }

   #cuadrado {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-top: 100px;
        margin-left: 200px;
    }

    #cuadrado2 {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin-top: 50px;
        margin-left: 315px;
    }

    @media (max-width: 576px) {
        #cuadrado {
        display: flex;
        flex-direction: column;
        margin-left: 150px;
        gap: 20px;
        }

        #cuadrado2 {
        display: flex;
        flex-direction: column;
        margin-left: 150px;
        gap: 20px;
        }
    }
    
    .imagen1cast {
        background-image: url(../FOTO/1x/inicio\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen1cast:hover {
        background-image: url(../FOTO/1x/inicio\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen1eng {
        background-image: url(../FOTO/1x/home\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen1eng:hover {
        background-image: url(../FOTO/1x/home\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen2cast {
        background-image: url(../FOTO/1x/eventos\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen2cast:hover {
        background-image: url(../FOTO/1x/eventos\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen2eng {
        background-image: url(../FOTO/1x/events\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen2eng:hover {
        background-image: url(../FOTO/1x/events\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen3cast {
        background-image: url(../FOTO/1x/monumentos\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen3cast:hover {
        background-image: url(../FOTO/1x/monumento\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen3eng {
        background-image: url(../FOTO/1x/monuments\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen3eng:hover {
        background-image: url(../FOTO/1x/monuments\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen4cast {
        background-image: url(../FOTO/1x/Cercanías\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen4cast:hover {
        background-image: url(../FOTO/1x/cercania\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen4eng {
        background-image: url(../FOTO/1x/surroundings\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen4eng:hover {
        background-image: url(../FOTO/1x/surroundings\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen5cast {
        background-image: url(../FOTO/1x/Gastronomia\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen5cast:hover {
        background-image: url(../FOTO/1x/gastronomia\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen5eng {
        background-image: url(../FOTO/1x/gastrenomy\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen5eng:hover {
        background-image: url(../FOTO/1x/gastronomy\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen6cast {
        background-image: url(../FOTO/1x/rutas\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen6cast:hover {
        background-image: url(../FOTO/1x/rutas\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen6eng {
        background-image: url(../FOTO/1x/trails\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen6eng:hover {
        background-image: url(../FOTO/1x/trails\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen7cast {
        background-image: url(../FOTO/1x/hoteles\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen7cast:hover {
        background-image: url(../FOTO/1x/hoteles\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen7eng {
        background-image: url(../FOTO/1x/hotels\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen7eng:hover {
        background-image: url(../FOTO/1x/hotels\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen8cast {
        background-image: url(../FOTO/1x/formulario\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen8cast:hover {
        background-image: url(../FOTO/1x/formulario\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    .imagen8eng {
        background-image: url(../FOTO/1x/form\ oscuro.png);
        width: 130px;
        height: 130px;
        background-size: cover;
    }

    .imagen8eng:hover {
        background-image: url(../FOTO/1x/form\ claro.png);
        transform: scale(1.2);
        transition: 0.5s ease-in-out;
    }

    #imgprin img {
        width: 100%;
        height: 500px;
    }

    h1 {
        color: #1c5427;
        text-align: center;
        font-size: 4rem;
        margin-top: 60px;
    }

    h3 {
        color: #1c5427;
        text-align: center;
        margin-top: -40px;
    }